/* General Styling */
* {
	box-sizing: border-box;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}

a {
	color: #3a4f77;
	text-decoration: unset;
}
ul {
	margin-left: 1.5rem;
	list-style: none;
}

button,
input[type='submit'] {
	border: none;
	padding: 0.5em;
	margin: 0.5em;
	background: none;
	color: unset;
	cursor: pointer;
}

h,
p,
ul,
ol {
	margin: 1em, 0;
}
/* Transition styles */
.fade-enter {
	opacity: 0.01;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0.01;
	transition: opacity 1000ms ease-in;
}

/* Form styles */
.form label,
.form input {
	display: block;
}
.form input {
	margin-bottom: 1rem;
}
.form label {
	margin-bottom: 0.3rem;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'] {
	width: 35%;
	padding: 0.5rem;
}
.page {
	display: flex;
	padding: 1rem;
	flex-direction: column;
}

@media screen and (max-width: 550px) {
}

